/*
 * Checkout
 */

 .checkout {
     .checkout__tab {
         display: flex;
         justify-content: space-around;
         border-bottom: 2px dashed $gray-5;
         .checkout__tab-item {
             text-align: center;
             cursor: pointer;
             padding: 10px;
             transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
             svg {
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
                fill: $gray-2;
                transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
             }
             &.active, &:hover {
                 color: $secondary;
                 svg {
                    fill: $secondary;
                 }
             }
         }
     }
     .checkout__form {
         padding: 20px;
         .checkout__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $gray-1;
            margin-bottom: 20px;
         }
         .form__group {
             margin-bottom: 18px;
             .form__label {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 200%;
                display: block;
                color: $gray-2;
                .form__add-form {
                    cursor: pointer;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 200%;
                    display: flex;
                    align-items: center;
                    color: $gray-3;
                }
             }
             .form__control {
                padding: 10px;
                border: 1px solid $gray-5;
                min-height: calc(50px - 0px);
                width: 100%;
                border-radius: 5px;
                color: $gray-2;
                &:focus, &:active {
                    border: 1px solid $gray-5;
                    outline: none;
                }
                &::placeholder {
                    color: $gray-4;
                }
             }
             .form__desc {
                 font-size: 12px;
                 color: $gray-3;
             }
             .btn-primary {
                 background: rgba($color: $primary, $alpha: 0.9);
                 border: 0;
                 font-family: Roboto;
                 font-style: normal;
                 font-weight: 500;
                 font-size: 14px;
                 line-height: 200%;
                 text-align: center;
                 text-transform: uppercase;
                 padding: 10px 25px;
                 margin: 10px;
                 transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
                 &.btn__back {
                    background: rgba($primary, 0.6);
                    border-color: rgba($primary, 0.6);
                    margin: 10px;
                    &:hover {
                        background: rgba($color: $primary, $alpha: 0.7);
                     }
                 }
                 &:hover {
                    background: rgba($color: $primary, $alpha: 1);
                 }
             }
             .btn-secondary {
                background: rgba($color: $secondary, $alpha: 0.9);
                border: 0;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 200%;
                text-align: center;
                text-transform: uppercase;
                padding: 10px 25px;
                transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover {
                   background: rgba($color: $secondary, $alpha: 1);
                }
            }
            &.form__group-icon {
                position: relative;
                .form__group-icon-item {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
         }
         .form__group-row {
             display: flex;
             gap: 15px;
             .form__group {
                 width: 50%;
             }
         }
         .methods__items {
            .form-check {
                padding-left: 0;
             }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 28px;
                display: inline-block;
                color: #666;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 5px;
                width: 16px;
                height: 16px;
                border: 2px solid rgba($color: $primary, $alpha: 0.9);
                border-radius: 100%;
                background: $white;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 6px;
                height: 6px;
                background: rgba($color: $primary, $alpha: 0.9);
                position: absolute;
                top: 10px;
                left: 5px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
         }
         .form__note {
            width: 75%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: $gray-2;
            a {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 150%;
                color: rgba($color: $primary, $alpha: 0.9);
            }
         }
         .order__summary {
            box-shadow: $box-s;
            margin-bottom: 30px;
            .checkout__title {
                padding: 8px;
            }
            .order__summary-data {
                .order__summary-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px;
                    .order__summary-title {
                        width: 65%;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 200%;
                        color: $gray-2;
                    }
                    .order__summary-price {
                        width: 25%;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 200%;
                        color: $gray-2;
                        text-align: right;
                    }
                    .order__summary-edit {
                        position: relative;
                        width: 10%;
                        cursor: pointer;
                        text-align: right;
                        &::after {
                            content: attr(label-data);
                            position: absolute;
                            bottom: 100%;
                            right: 0;
                            white-space: nowrap;
                            background: $secondary;
                            color: $white;
                            padding: 5px 10px;
                            font-size: 12px;
                            border-radius: 5px;
                            box-shadow: $box-s;
                            border: 1px solid $gray-6;
                            visibility: hidden;
                            opacity: 0;
                            transition: all 333ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        }
                        &:hover {
                            &::after {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                    &.order__subtotal {
                        .order__summary-title {
                            width: 65%;
                            font-weight: bold;
                        }
                        .order__summary-price {
                            width: 35%;
                        }
                        .order__summary-edit {
                            visibility: hidden;
                        }
                    }
                    &.order__total {
                        .order__summary-title {
                            width: 65%;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 200%;
                            color: $gray-1;
                        }
                        .order__summary-price {
                            width: 35%;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 200%;
                            color: $secondary;
                        }
                        .order__summary-edit {
                            visibility: hidden;
                        }
                    }
                }
                .order__summary-divider {
                    width: 100%;
                    height: 1px;
                    background: $gray-6;
                    display: block;
                }
                .order__summary-note {
                    padding: 8px;
                    .order__summary-note-title {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 200%;
                        color: $gray-2;
                    }
                    .order__summary-note-list {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 200%;
                        color: $gray-2;
                    }
                }
            }
        }
     }
 }