/*
 * Dashboard
 */

 .customer__dashboard {
     .customer__dashboard-sidebar {
         border-right: 1px solid $gray-5;
        .customer__dashboard-user {
            text-align: center;
           .customer__dashboard-user-profile {
               position: relative;
               display: inline-block;
               margin-bottom: 15px;
               .customer__dashboard-user-profile-edit {
                  position: absolute;
                  top: 0;
                  right: 0;
                  z-index: 100;
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  background: $primary;
                  text-align: center;
                  cursor: pointer;
               }
           }
           .customer__dashboard-profile-title {
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: $gray-2;
           }
        }
        .customer__dashboard-navigation {
            margin-top: 30px;
            .nav {
                .nav-item {
                    .nav-link {
                       font-family: Roboto;
                       font-style: normal;
                       font-weight: normal;
                       font-size: 14px;
                       line-height: 16px;
                       color: $gray-2;
                       padding: 15px;
                       transition: all 333ms ease-in-out;
                        svg {
                            fill: $gray-2;
                            margin-right: 10px;
                            transition: all 333ms ease-in-out;
                        }
                        &.active, &:hover {
                            color: $secondary;
                            svg {
                                fill: $secondary;
                            }
                        }
                    }
                }
            }
        }
     }
     .customer__dashboard-content {
         .customer__dashboard-card {
             .customer__dashboard-card-item {
                 background: $white;
                 padding: 20px;
                 box-shadow: $box-s;
                 display: flex;
                 align-items: center;
                 margin-bottom: 15px;
                 .customer__dashboard-card-icon {
                     margin-right: 15px;
                 }
                 .customer__dashboard-card-content {
                     .customer__dashboard-card-title {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 27px;
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        color: rgba($color: $primary, $alpha: 0.9);
                        margin-bottom: 0;
                     }
                     .customer__dashboard-card-subtitle {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: $gray-2;
                     }
                 }
             }

            &.marcent {
                .customer__dashboard-card-item {
                    position: relative;
                    border-radius: 5px;
                    .customer__dashboard-card-content {
                        .customer__dashboard-card-title {
                           font-family: Roboto;
                           font-style: normal;
                           font-weight: bold;
                           font-size: 25px;
                           line-height: 35px;
                           display: flex;
                           align-items: center;
                           text-transform: uppercase;
                           color: #fff;
                           margin-bottom: 0;
                        }
                        .customer__dashboard-card-subtitle {
                           font-family: Roboto;
                           font-style: normal;
                           font-weight: 500;
                           font-size: 14px;
                           line-height: 18px;
                           text-transform: uppercase;
                           color: #fff;
                        }
                    }
                    .shape {
                        position: absolute;
                        display: block;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.1);
                        &.shape1 {
                            width: 43px;
                            height: 43px;
                            right: 10px;
                            top: 6px;
                        }
                        &.shape2 {
                            width: 31px;
                            height: 31px;
                            right: 18px;
                            top: 61px;
                        }
                        &.shape3 {
                            width: 23px;
                            height: 23px;
                            right: 60px;
                            top: 50px;
                        }
                    }
                }
            }
             // Background Color

            .bg-primary {
                background: rgba($color: $primary, $alpha: 0.6)!important;
            }
            .bg-success {
                background: rgba($color: $success, $alpha: 0.6)!important;
            }
            .bg-warning {
                background: rgba($color: $secondary, $alpha: 0.6)!important;
            }
            .bg-danger {
                background: rgba($color: $danger, $alpha: 0.6)!important;
            }
         }
         .customer__dashboard-order-card {
             padding: 20px;
             margin-top: 30px;
             box-shadow: $box-s;
             .customer__dashboard-order-card-header {
                 margin-bottom: 15px;
                 .customer__dashboard-order-card-header-title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 19.1805px;
                    line-height: 23px;
                    text-transform: uppercase;
                    color: $gray-2;
                 }
                 .customer__dashboard-order-searchbox {
                     position: relative;
                     input {
                         border: 1px solid $gray-5;
                         border-radius: 30px;
                         padding: 5px 15px;
                         &:focus {
                            border: 1px solid $gray-5;
                            outline: none;
                         }
                     }
                     span {
                         position: absolute;
                         top: 5px;
                         right: 15px;
                         cursor: pointer;
                     }
                 }
             }
             .customer__dashboard-order-card-body {
                 .table {
                     tr {
                         th, td {
                             padding: 15px;
                             a {
                                 color: $primary;
                                 font-weight: bold;
                                 text-decoration: underline;
                                 svg {
                                     fill: $primary;
                                     margin-right: 5px;
                                 }
                             }
                         }
                     }
                 }
                 .pagination {
                     .page-item {
                         .page-link {
                             padding: 5px 13px;
                         }
                         &.active {
                            .page-link {
                                background: rgba($color: $primary, $alpha: 1);
                                border-color: rgba($color: $primary, $alpha: 1);
                            }
                        }
                     }
                 }
             }
         }
     }
 }