/*
 * Footer
 */

 .footer {
     background: $primary;
     padding: 40px 0;
     .footer__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: $gray-5;
        margin-bottom: 25px;
     }
     .nav {
         li {
             a {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 200%;
                color: $gray-4;
                padding: 10px 0;
             }
         }
     }
     .social__menus {
         li {
             a {
                 margin-right: 10px;
             }
         }
     }
 }

 .footer__bottom {
    background: rgba($primary, 0.9);
    padding: 20px;
    p {
        color: $gray-6;
        margin-bottom: 0;
    }
}

// Responsive 

@media (max-width:992px) {
    .footer, .footer__bottom {
        display: none;
    }
    .mobile__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        background: $primary;
        padding: 10px 20px;
        .mobile__footer-navigation {
            align-items: flex-end;
            .nav-item {
                .nav-link {
                    color: #fff;
                    text-align: center;
                    padding: 0.75rem;
                    svg {
                        display: block;
                        margin: 0 auto
                    }
                    span {
                        display: block;
                        margin-top: 5px;
                    }
                    &.cart__circle {
                        position: relative;
                        .cart__circle-body {
                            position: absolute;
                            top: -66px;
                            right: 50%;
                            transform: translate(50%, 0px);
                            width: 66px;
                            height: 66px;
                            background: $secondary;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}