/*
 * Header
 */

 .header {
     .top__header {
         background: $primary;
         .user__access {
             color: $gray-6;
             a {
                 font-size: 12px;
                 text-transform: uppercase;
                 color: $gray-6;
                 padding: 0.5rem;
             }
         }
     }
 }