/*
 * Product Cart
 */

 .product__card {
    background: $white;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    border-radius: 5px;
    padding: 10px;
    .product__image {
        position: relative;
        background: #F6F6F6;
        border-radius: 5px;
        .product__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            .product__offer-badge {
                position: absolute;
                top: 10px;
                left: 10px;
                font-weight: $fw-bold;
                font-size: $font-sm;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
                border-radius: 3px;
                padding: 2px 10px;
            }
            .product__wishlist {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 30px;
                background: rgba($secondary, 0.1);
                transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
                svg {
                    fill: $gray-2;
                    transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
                }
                &:hover {
                    background: rgba($secondary, 1);
                    svg {
                        fill: $white;
                    }
                }
            }
        }
    }
    .product__details {
        position: relative;
        padding-top: 10px;
        .product__title {
            font-size: $font-base;
            font-weight: 500;
            line-height: 16px;
            color: $gray-1;
            margin-bottom: 10px;
            transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .product__details-price {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .discount__price {
                font-size: $font-base;
                font-weight: $fw-bold;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: $secondary;
                padding-right: 5px;
            }
            .cost__price {
                font-size: $font-sm;
                font-weight: $fw-bold;
                line-height: 16px;
                color: $gray-4;
                text-decoration: line-through;
            }
        }
        .product__details-rating {
            span {
                display: inline-block;
                width: 12px;
            }
        }
        .product__details-cart {
            width: 37px;
            height: 37px;
            border-radius: 30px;
            text-align: center;
            line-height: 37px;
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
            box-shadow: 0px 2.85px 7.83px rgba(29, 31, 34, 0.1);
            transform: translateY(0px);
            transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    &:hover {
        .product__details {
            .product__title {
                color: $primary;
            }
            .product__details-cart {
                transform: translateY(-5px);
            }
        }
    }
 }