/*
 * Product Details
 */

 .product__details {
     .product__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 28px;
        color: $gray-1;
        margin-bottom: 10px;
     }
     .product__price {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .discount__price {
            font-size: 36px;
            font-weight: $fw-bold;
            line-height: 160%;
            display: flex;
            align-items: center;
            color: $secondary;
            padding-right: 5px;
        }
        .cost__price {
            font-size: $font-sm;
            font-weight: $fw-bold;
            line-height: 16px;
            color: $gray-4;
            text-decoration: line-through;
        }
     }
     .product__description {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        /* or 22px */
        color: $gray-2;
        margin-bottom: 30px;
     }
     .product__size {
         margin-bottom: 10px;
         .product__size-label {
             font-family: Roboto;
             font-style: normal;
             font-weight: 500;
             font-size: 12px;
             line-height: 18px;
             text-decoration-line: underline;
             color: $gray-1;
             margin-bottom: 10px;
         }
         .product__size-select {
             select {
                width: 80%;
                color: $gray-2;
                border: 0;
                border-bottom: 1px solid $gray-6;
                margin: 15px 0;
                &:focus, &:active {
                    border: 0;
                    outline: none;
                    border-bottom: 1px solid $gray-6;
                }
             }
         }
     }
     .product__color {
         .product__color-label {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            text-decoration-line: underline;
            color: $gray-1;
            margin-bottom: 10px;
         }
         .product__color-radio {
            margin-top: 15px;
            margin-bottom: 30px;
             .form-check {
                padding-left: 0;
             }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                // border: 1px solid #ddd;
                border-radius: 100%;
                // background: $primary;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                // background: $white;
                position: absolute;
                top: 6px;
                left: 6px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            #Blue {
                &[type="radio"]:checked + label:before,
                &[type="radio"]:not(:checked) + label:before {
                    border: 3px solid $primary;
                    background: $white;
                }
                &[type="radio"]:checked + label:after,
                &[type="radio"]:not(:checked) + label:after {
                    background: $primary;
                }
            }
            #Red {
                &[type="radio"]:checked + label:before,
                &[type="radio"]:not(:checked) + label:before {
                    border: 3px solid $danger;
                    background: $white;
                }
                &[type="radio"]:checked + label:after,
                &[type="radio"]:not(:checked) + label:after {
                    background: $danger;
                }
            }
            #Green {
                &[type="radio"]:checked + label:before,
                &[type="radio"]:not(:checked) + label:before {
                    border: 3px solid $success;
                    background: $white;
                }
                &[type="radio"]:checked + label:after,
                &[type="radio"]:not(:checked) + label:after {
                    background: $success;
                }
            } 
         }
     }
     .product__cart {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         gap: 15px;
         .product__cart-qty {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $gray-6;
            border-radius: 30px;
            .addto__cart-qty-minus,
            .addto__cart-qty-plus {
                padding: 14px;
                cursor: pointer;
                svg {
                    fill: $gray-1;
                }
            }
            .addto__cart-qty-input {
                padding: 10px;
                font-size: 18px;
            }
         }
         .product__cart-add {
             position: relative;
             text-align: center;
             width: 40%;
             background: rgba($color: $primary, $alpha: 0.9);
             color: $white;
             padding: 15px;
             border-radius: 30px;
             font-family: Roboto;
             font-style: normal;
             font-weight: bold;
             font-size: 16px;
             line-height: 120%;
             text-transform: uppercase;
             cursor: pointer;
             .product__cart-add-icon {
                 position: absolute;
                 right: 10px;
                 top: 10px;
                 background: $white;
                 width: 30px;
                 height: 30px;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 border-radius: 50%;
             }
         }
         .product__wishlist, .product__preorder {
            position: relative;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 30px;
            background: rgba($secondary, 1);
            transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
            svg {
                fill: $white;
                transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &::after {
                content: attr(label-data);
                position: absolute;
                bottom: 100%;
                right: 0%;
                white-space: nowrap;
                background: $secondary;
                color: $white;
                padding: 5px 10px;
                margin-bottom: 3px;
                font-size: 12px;
                border-radius: 5px;
                box-shadow: $box-s;
                visibility: hidden;
                opacity: 0;
                transition: all 333ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            &:hover {
                background: rgba($secondary, 1);
                svg {
                    fill: $white;
                }
                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
         }
         .product__cart-share {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
            color: $gray-2;
            cursor: pointer;
         }
     }
 }

 .product__details-tab {
     .product__details-tab-menu {
         position: relative;
         &::before {
             content: "";
             width: 100%;
             height: 1px;
             background: $gray-6;
             position: absolute;
             left: 0;
             bottom: 0;
         }
         .nav {
             .nav-item {
                 .nav-link {
                     position: relative;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    color: $gray-3;
                    transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    &::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: $gray-1;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                    &.active, &:hover {
                        color: $gray-1;
                        &::before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                 }
             }
         }
     }
     .product__details-tab-content {
         padding: 20px;
         .product__details-tab-content-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 160%;
            color: $gray-1;
         }
         .product__details-tab-content-leave-review {
             text-align: right;
            .review__rating {
                span {
                    display: inline-block;
                    width: 12px;
                }
            }
            .review__link {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                text-decoration-line: underline;
                color: $gray-1;
            }
         }
         .review__content {
             padding-top: 15px;
             padding-bottom: 15px;
             border-bottom: 1px solid $gray-6;
             &:last-child {
                 border-bottom: 0;
                 margin-bottom: 30px;
             }
             .review__content-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                /* or 22px */
                color: $gray-1;
                margin-bottom: 4px;
             }
             .review__content-date {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: $gray-1;
                display: flex;
                margin-bottom: 16px;
                .review__rating {
                    margin-right: 10px;
                    span {
                        display: inline-block;
                        width: 12px;
                    }
                }
             }
             .review__content-description {
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 160%;
                /* or 26px */
                color: $gray-1;
             }
         }
         .review__viewmore {
             .review__viewmore-btn {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-decoration-line: underline;
                color: $gray-1;
                display: block;
                margin-top: 15px;
             }
         }
     }
 }

 .releted__product {
     .releted__product-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 160%;
        text-transform: uppercase;
        color: $gray-2;
        text-align: center;
        margin-bottom: 20px;
     }
 }

 // Responsive 

 @media (max-width:992px) {
    .product__details {
        .product__cart {
            .product__cart-add {
                width: 60%;
            }
        }
    }
 }