/*
 * Tracking
 */

 .customer__dashboard {
    .tracking__search-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        color: $gray-1;
     }
     .tracking__search {
         position: relative;
         .tracking__search-icon {
            position: absolute;
            top: 0;
            right: 20px;
            display: flex;
            align-items: center;
            height: 100%;
         }
         .form-control {
            padding: 20px;
             border-radius: 30px;
             height: calc(62px - 0px);
         }
     }
     .tracking__invoice {
         .tracking__invoice-title {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 160%;
            color: $gray-1;
            border-bottom: 1px solid $gray-6;
         }
         .tracking__invoice-body {
             margin-bottom: 20px;
             .tracking__invoice-item {
                display: flex;
                padding: 10px;
                border-bottom: 1px solid $gray-6;
                &:last-child {
                    border-bottom: 0;
                }
                 .tracking__invoice-name {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: $gray-2;
                    width: 50%;
                 }
                 .tracking__invoice-details {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    color: $gray-2;
                    &.tracking__invoice-price {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 28px;
                        color: rgba($color: $primary, $alpha: 0.9);
                    }
                 }
             }
             &.tracking__invoice-card {
                background: #FFFFFF;
                padding: 20px;
                box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
                border-radius: 5px;
                ol {
                    list-style-type: none;
                    li {
                        position: relative;
                        margin: 0;
                        padding-bottom: 80px;
                        padding-left: 40px;
                        &::before {
                            content: '';
                            background-color: $gray-6;
                            position: absolute;
                            bottom: 0;
                            top: 0;
                            left: 11px;
                            width: 3px;
                        }
                        &::after {
                            content: attr(data-position);
                            background-color: $secondary;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 25px;
                            color: #fff;
                        }
                        .tracking__invoice-card-title {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            color: $gray-2;
                            span {
                                color: rgba($color: $primary, $alpha: 0.9);
                            }
                        }
                        .tracking__invoice-card-date {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 160%;
                            color: $gray-3;
                        }
                    }
                }
             }
         }
     }
 }