// color-variables
$primary:   #0e48a0;
$secondary: #E1A607;
$gray-1:    #333333;
$gray-2:    #4F4F4F;
$gray-3:    #828282;
$gray-4:    #BDBDBD;
$gray-5:    #E0E0E0;
$gray-6:    #F2F2F2;
$white:     #fff;
$black:     #000;
$danger:    #ED2222;
$success:   #27AE60;


//font-variables

$font-lg: 18px;
$font-base: 14px;
$font-sm: 12px;

$fw-bold: bold; 
$fw-600: 600; 
$fw-500: 500; 
$fw-400: 400; 


// Shadow

$box-s: 0px 4px 35px rgba(168, 172, 176, 0.19);