/*!
 * Ecommerce Website Theme
 * Copyright 2021
 */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #333333;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

/*
 * Dropdown
 */
.dropdown-toggle::after {
  content: "";
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.22876 5.67157L3.28595 6.61438L7.99998 11.3284L12.714 6.6144L11.7712 5.67159L8 9.44281L4.22876 5.67157Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  position: absolute;
  padding-top: 20px;
}

.dropdown__menu .overlay {
  content: "";
  position: fixed;
  top: 178px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.dropdown__menu .overlay:hover {
  display: none;
}

.dropdown__menu .dropdown__megamenu {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown__menu:hover .dropdown__megamenu {
  visibility: visible;
  opacity: 1;
}

.dropdown__menu:hover .overlay {
  visibility: visible;
  opacity: 1;
}

/*
 * Tab
 */
.category__tab .nav-item .nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
}

.category__tab .nav-item .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 30px;
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.category__tab .nav-item .nav-link.active, .category__tab .nav-item .nav-link:hover, .category__tab .nav-item .nav-link:focus {
  color: #E1A607;
}

.category__tab .nav-item .nav-link.active::before, .category__tab .nav-item .nav-link:hover::before, .category__tab .nav-item .nav-link:focus::before {
  width: 100%;
  background: #E1A607;
}

/*
 * Header
 */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
}

.header .top__header {
  background: #0e48a0;
}

.header .top__header .user__access {
  color: #F2F2F2;
}

.header .top__header .user__access a {
  font-size: 12px;
  text-transform: uppercase;
  color: #F2F2F2;
  padding: 0.25rem;
}

.header .top__header .hot__line {
  font-size: 12px;
  color: #F2F2F2;
  padding: 0.25rem;
}

.header .top__header .hot__line:first-child span {
  padding-right: 5px;
}

.header .top__header .social__link {
  font-size: 12px;
  color: #F2F2F2;
  padding: 0.25rem;
}

.header .top__header .social__link:first-child span {
  padding-right: 5px;
}

.header .top__header .social__link .social__icon a {
  padding-right: 5px;
}

.header .top__header .social__link .social__icon a:last-child {
  padding-right: 0;
}

.header .main__header {
  background-color: rgba(14, 72, 160, 0.9);
  padding: 0.5rem;
}

.header .main__header .main__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .main__header .main__header-content .main__header-left {
  width: 18%;
}

.header .main__header .main__header-content .main__header-center {
  width: 68%;
}

.header .main__header .main__header-content .main__header-center .main__header-navigation {
  padding-bottom: 0.5rem;
}

.header .main__header .main__header-content .main__header-center .main__header-navigation li {
  display: inline-block;
  list-style: none;
}

.header .main__header .main__header-content .main__header-center .main__header-navigation li a {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #E0E0E0;
  padding: 0.5rem;
}

.header .main__header .main__header-content .main__header-center .main__header-navigation li a::after {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #E0E0E0;
  display: block;
  position: absolute;
  top: 0.55rem;
  right: -0.15rem;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

.header .main__header .main__header-content .main__header-center .main__header-navigation li a:hover {
  color: #BDBDBD;
}

.header .main__header .main__header-content .main__header-center .main__header-navigation li:first-child a {
  padding-left: 0;
}

.header .main__header .main__header-content .main__header-center .main__header-navigation li:last-child a::after {
  display: none;
}

.header .main__header .main__header-content .main__header-center .main__header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .main__header .main__header-content .main__header-center .main__header-search input {
  background-color: #3265AF;
  width: 100%;
  height: calc(50px - 0px);
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  color: #fff;
}

.header .main__header .main__header-content .main__header-center .main__header-search input:focus {
  border: 0;
  outline: none;
}

.header .main__header .main__header-content .main__header-center .main__header-search input::-webkit-input-placeholder {
  color: #93A7C5;
}

.header .main__header .main__header-content .main__header-center .main__header-search input:-ms-input-placeholder {
  color: #93A7C5;
}

.header .main__header .main__header-content .main__header-center .main__header-search input::-ms-input-placeholder {
  color: #93A7C5;
}

.header .main__header .main__header-content .main__header-center .main__header-search input::placeholder {
  color: #93A7C5;
}

.header .main__header .main__header-content .main__header-center .main__header-search .btn-secondary {
  width: 53px;
  background-color: #E1A607;
  border: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.header .main__header .main__header-content .main__header-right {
  width: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .main__header .main__header-content .main__header-right .main__header-cart, .header .main__header .main__header-content .main__header-right .main__header-wishlist {
  position: relative;
  padding: 0 0.5rem;
}

.header .main__header .main__header-content .main__header-right .main__header-cart a, .header .main__header .main__header-content .main__header-right .main__header-wishlist a {
  display: block;
  color: #F2F2F2;
}

.header .main__header .main__header-content .main__header-right .main__header-cart a svg, .header .main__header .main__header-content .main__header-right .main__header-wishlist a svg {
  display: block;
  margin: 5px auto;
}

.header .main__header .main__header-content .main__header-right .main__header-cart a .cart__badget, .header .main__header .main__header-content .main__header-right .main__header-wishlist a .cart__badget {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  color: #fff;
  background: #E1A607;
  text-align: center;
  line-height: 24px;
  border-radius: 30px;
}

.header .menu__header {
  background: #0e48a0;
}

.header .menu__header .menu__header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__header .menu__header-navigation .nav-item .nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 1rem;
}

.header .menu__header .menu__header-navigation .nav-item .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  background: #0e48a0;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 30px;
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header .menu__header .menu__header-navigation .nav-item .nav-link.active, .header .menu__header .menu__header-navigation .nav-item .nav-link:hover, .header .menu__header .menu__header-navigation .nav-item .nav-link:focus {
  color: #E1A607;
}

.header .menu__header .menu__header-navigation .nav-item .nav-link.active::before, .header .menu__header .menu__header-navigation .nav-item .nav-link:hover::before, .header .menu__header .menu__header-navigation .nav-item .nav-link:focus::before {
  width: 100%;
  background: #E1A607;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .dropdown__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .dropdown-item {
  padding: 0rem 0rem;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .dropdown-item:hover {
  background: transparent;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .dropdown-item .dropdown-link {
  font-size: 14px;
  font-weight: 400;
  color: #4F4F4F;
  padding: 0.5rem 0rem;
  display: block;
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .dropdown-item .dropdown-link:hover {
  color: #E1A607;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .feature__img {
  position: relative;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .feature__img .feauture__content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 60px;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .feature__img .feauture__content span {
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.header .menu__header .menu__header-navigation .nav-item.dropdown__menu .dropdown__megamenu .feature__img .feauture__content h1 {
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  line-height: 42px;
}

.header .menu__header .menu__header-navigation .menu__header-right .nav-item .nav-link::before {
  display: none;
}

/*
 * Slider
 */
.slider .slide .carousel-control-next,
.slider .slide .carousel-control-prev {
  opacity: 1;
}

.slider .slide .carousel-control-next .carousel-control-prev-icon,
.slider .slide .carousel-control-next .carousel-control-next-icon,
.slider .slide .carousel-control-prev .carousel-control-prev-icon,
.slider .slide .carousel-control-prev .carousel-control-next-icon {
  width: 44px;
  height: 44px;
  background-color: rgba(14, 72, 160, 0.4);
  border-radius: 50%;
  background-size: 50%;
}

.slider .slide:hover .carousel-control-next .carousel-control-prev-icon,
.slider .slide:hover .carousel-control-next .carousel-control-next-icon,
.slider .slide:hover .carousel-control-prev .carousel-control-prev-icon,
.slider .slide:hover .carousel-control-prev .carousel-control-next-icon {
  background-color: #0e48a0;
}

/*
 * Fututre Card
 */
.future__card {
  padding: 30px;
}

/*
 * Product Cart
 */
.product__card {
  background: #fff;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  border-radius: 5px;
  padding: 10px;
}

.product__card .product__image {
  position: relative;
  background: #F6F6F6;
  border-radius: 5px;
}

.product__card .product__image .product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.product__card .product__image .product__overlay .product__offer-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#1488CC), to(#2B32B2));
  background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
  border-radius: 3px;
  padding: 2px 10px;
}

.product__card .product__image .product__overlay .product__wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  background: rgba(225, 166, 7, 0.1);
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__card .product__image .product__overlay .product__wishlist svg {
  fill: #4F4F4F;
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__card .product__image .product__overlay .product__wishlist:hover {
  background: #e1a607;
}

.product__card .product__image .product__overlay .product__wishlist:hover svg {
  fill: #fff;
}

.product__card .product__details {
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}

.product__card .product__details .product__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #333333;
  margin-bottom: 10px;
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__card .product__details .product__title:hover {
  color: #0e48a0;
}

.product__card .product__details .product__details-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.product__card .product__details .product__details-price .discount__price {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E1A607;
  padding-right: 5px;
}

.product__card .product__details .product__details-price .cost__price {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  color: #BDBDBD;
  text-decoration: line-through;
}

.product__card .product__details .product__details-rating span {
  display: inline-block;
  width: 12px;
}

.product__card .product__details .product__details-cart {
  width: 37px;
  height: 37px;
  border-radius: 30px;
  text-align: center;
  line-height: 37px;
  position: absolute;
  right: 0;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#1488CC), to(#2B32B2));
  background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
  -webkit-box-shadow: 0px 2.85px 7.83px rgba(29, 31, 34, 0.1);
          box-shadow: 0px 2.85px 7.83px rgba(29, 31, 34, 0.1);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product__card .product__details .product__details-cart:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/*
 * Category
 */
.category__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.category__navigation .category__tab .nav-item .nav-link {
  text-transform: uppercase;
}

.category__navigation .btn-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

/*
 * Promotion
 */
.promotion {
  position: relative;
  background: #0e48a0;
}

.promotion .shape {
  position: absolute;
}

.promotion .shape.left {
  top: 0;
  left: 0;
}

.promotion .shape.right {
  right: 0;
  bottom: 0;
}

.promotion .promotion__content {
  position: relative;
  padding: 80px 0;
}

.promotion .promotion__content h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 135%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.promotion .promotion__content h1 span {
  color: #E1A607;
}

.promotion .promotion__content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #E0E0E0;
  margin-bottom: 30px;
}

.promotion .promotion__content .promotion__content-counter {
  margin-bottom: 50px;
}

.promotion .promotion__content .promotion__content-counter .count_item {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-right: 20px;
}

.promotion .promotion__content .promotion__content-counter .count_item::before {
  content: ":";
  position: absolute;
  top: 0;
  right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #E1A607;
}

.promotion .promotion__content .promotion__content-counter .count_item:last-child::before {
  display: none;
}

.promotion .promotion__content .promotion__content-counter .count_item .count__num {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #E1A607;
  display: block;
}

.promotion .promotion__content .promotion__content-counter .count_item .count__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #E0E0E0;
}

.promotion .promotion__content .btn-light {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 145%;
  text-transform: uppercase;
  color: #4F4F4F;
  padding: 10px 20px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 333ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.promotion .promotion__content .btn-light svg {
  fill: #4F4F4F;
}

.promotion .promotion__content .btn-light:hover, .promotion .promotion__content .btn-light:focus, .promotion .promotion__content .btn-light:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
 * Testimonial
 */
.testimonials .testimonials__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #4F4F4F;
  text-align: center;
  margin-bottom: 30px;
}

.testimonials .testimonial__card .testimonial__card-user img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.testimonials .testimonial__card .testimonial__card-user .testimonial__card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */
  text-align: center;
  text-transform: uppercase;
  color: #828282;
}

.testimonials .testimonial__card .testimonial__card-body {
  background: #fff;
  padding: 50px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.testimonials .testimonial__card .testimonial__card-body svg {
  margin-bottom: 10px;
}

.testimonials .testimonial__card .testimonial__card-body p {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  padding-bottom: 40px;
}

.testimonials .testimonial__card .testimonial__card-body p::before {
  content: '';
  width: 30px;
  height: 3px;
  border-radius: 30px;
  background: #E1A607;
  position: absolute;
  bottom: 0;
  left: 45%;
}

#customers-testimonials .item {
  text-align: center;
  margin-bottom: 40px;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #E1A607;
  -webkit-transform: translate3d(0px, -50%, 0px) scale(0.7);
          transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #E1A607;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  -webkit-transform: translate3d(0px, -50%, 0px) scale(0.3);
          transform: translate3d(0px, -50%, 0px) scale(0.3);
  -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  width: 20px;
  border-radius: 30px;
}

/*
 * Partner
 */
.partner .partner__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #4F4F4F;
  text-align: center;
  margin-bottom: 30px;
}

.partner .partner__item {
  background: #fff;
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  border-radius: 5px;
}

/*
 * Shipment info
 */
.shipment {
  background: #F2F2F2;
  padding: 20px;
}

.shipment .shipment__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shipment .shipment__info .shipment__info-icon {
  padding: 10px;
}

.shipment .shipment__info .shipment__info-content .shipment__info-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #4F4F4F;
  margin-bottom: 10px;
}

.shipment .shipment__info .shipment__info-content .shipment__info-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  /* or 14px */
  color: #828282;
}

/*
 * Footer
 */
.footer {
  background: #0e48a0;
  padding: 40px 0;
}

.footer .footer__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #E0E0E0;
  margin-bottom: 25px;
}

.footer .nav li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #BDBDBD;
  padding: 10px 0;
}

.footer .social__menus li a {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */