*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

a {
    color: $gray-1;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

main {
    min-height: calc(100vh - 0px);
}

.dekstop__btn {
    display: block;
}

.mobile__btn {
    display: none;
}

// Responsive

@media (max-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .dekstop__btn {
        display: none;
    }
    
    .mobile__btn {
        display: block;
        margin-top: 20px;
        text-align: center;
    }
}

// button

.btn-primary {
    border-radius: 0;
    font-size: 14px;
    padding: 10px 24px;
    color: #fff;
    background: rgba($color: $primary, $alpha: 0.9);
    border-color: rgba($color: $primary, $alpha: 0.9);
    &:hover {
        color: #fff;
        background: rgba($color: $primary, $alpha: 1.0);
        border-color: rgba($color: $primary, $alpha: 1.0);
    }
}

.btn-warning {
    border-radius: 0;
    font-size: 14px;
    padding: 10px 24px;
    color: #fff;
    background: rgba($color: $secondary, $alpha: 0.9);
    border-color: rgba($color: $secondary, $alpha: 0.9);
    &:hover {
        color: #fff;
        background: rgba($color: $secondary, $alpha: 1.0);
        border-color: rgba($color: $secondary, $alpha: 1.0);
    }
}